*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root{
--Light-red: hsl(0, 100%, 67%);
--light-red2: hsl(0deg 100% 96.77%);
--Orangey-yellow: hsl(39, 100%, 56%);
--light-yellow: hsl(39deg 100% 95.91%);

--Green-teal: hsl(166, 100%, 37%);
--light-green:hsl(166deg 100% 96.77%);
--Cobalt-blue: hsl(234, 85%, 45%);
--light-blue:hsl(234deg 100% 96.55%);

/*## Gradients*/

--Light-slate-blue /*(background)*/: hsl(252, 100%, 67%);
--Light-royal-blue/* (background)*/: hsl(241, 81%, 54%);

--Violet-blue /*(circle)*/: hsla(256, 72%, 46%, 1);
--Persian-blue /*(circle)*/: hsla(241, 72%, 46%);



/*### Neutral*/

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: hank;
    src: url(./fonts/static/HankenGrotesk-Bold.ttf);
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 737px;
    height: 512px;
    background-color: var(--White);
    border-radius: 30px;
    box-shadow: 10px 10px 20px 12px var(--Pale-blue);
}


.card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(187deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    gap: 30px;
    padding-bottom: 10px;
}

h1{
    color: var(--Pale-blue);
    font-family: hank;
    font-size: 1.35rem;
    font-weight: 500;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(190deg, hsla(256, 72%, 46%, 0.7), hsla(241, 72%, 46%, 0));
}

.score{
    color: var(--White);
    font-size: 4.5rem;
    font-family: hank;
    margin-bottom: -10px;
}

.of{
    opacity: 50%;
    color: var(--Pale-blue);
}

.grate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.ggg{
    color: var(--Pale-blue);
    font-family: hank;
    font-size: 2.1rem;
    font-weight: 600;
}

.dec{
    color: var(--Pale-blue);
    font-family: hank;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.card-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.summer{
    display: flex;
    justify-content: flex-start;
    width: 288px;
}

.right-header{
    font-family: hank,  ns-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    width: 288px;
    height: 55px;
    border-radius: 10px;
    font-family: hank;
    font-weight: 600;
}

.box-1{
    color: var(--Light-red);
    background-color: var(--light-red2);
}

.box-2{
    color: var(--Orangey-yellow);
    background-color: var(--light-yellow);
}

.box-3{
    color: var(--Green-teal);
    background-color: var(--light-green);
}

.box-4{
    color: var(--Cobalt-blue);
    background-color: var(--light-blue);
}

.result{
    color: black;
}

.box-span{
    opacity: 50%;
}

.box-left{
    display: flex;
    gap: 5px;
}

button{
    width: 288px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    background-color: var(--Dark-gray-blue);
    border-radius: 30px;
    color: var(--White);
    font-size: 17px;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(187deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}